<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         id="WebApp_ID"
         version="5.0">

	<display-name>BasketTracker</display-name>
	
	<!-- Configuración de las páginas de bienvenida -->
	<welcome-file-list>
		<welcome-file>views/jsp/login.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	  
	  <servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>servlets.LoginServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/LoginServlet</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
	<servlet-name>RegisterServlet</servlet-name>
	<servlet-class>servlets.RegisterServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	<servlet-name>RegisterServlet</servlet-name>
	<url-pattern>/RegisterServlet</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
	<servlet-name>AddCompe</servlet-name>
	<servlet-class>servlets.AddCompe</servlet-class>
	  </servlet>
	  <servlet-mapping>
	<servlet-name>AddCompe</servlet-name>
	<url-pattern>/AddCompe</url-pattern>
	  </servlet-mapping>
	  
</web-app>
