:root {
    --color-primary: #D44000; /* Color principal */
    --color-secondary: #F2743D;  /* Color secundario */
}

/* Aquí puedes usar las variables en lugar de los colores hexadecimales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
   	padding-top: 180px; /* Ajusta este valor según la altura de la cabecera */
    margin: 0; /* Asegúrate de que no haya margen en el cuerpo */
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: calc(100vh - 180px); /* Ajusta la altura para evitar superposición */
    background-color: #f0f0f0; /* Color de fondo */
}

/* Cabecera */
.header-section {
    position: fixed;  /* Mantiene la cabecera en la parte superior al hacer scroll */
    top: 0;  /* Se asegura de que esté en la parte superior */
    left: 0; /* Alinea al lado izquierdo */
    right: 0; /* Alinea al lado derecho */
    background-color: var(--color-primary); /* Color de fondo usando la variable */
    text-align: center; /* Centra el contenido */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    height: 180px; /* Establece una altura fija para la cabecera */
    
}

.header-rect {
    margin: 0 auto; /* Centra el div horizontalmente */
    height: 100%; /* Asegura que el div de la cabecera ocupe el 100% de la altura de la cabecera */
    display: flex; /* Flexbox para centrar verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    align-items: center; /* Centra verticalmente la imagen */
}
.header-image {
    height: 100%; /* Ajusta la altura de la imagen al 100% de la cabecera */
    width: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Esquinas redondeadas */
}



.container {
    display: flex;
    width: auto; /* Asegura que el contenedor ocupe el 100% */
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto; /* Añade margen superior para evitar superposición con la cabecera */
}

.image-section {
    flex: 2;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-section h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 8px;
}

.form-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    padding-left: 15px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 20px;
}

.form-group input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
}

.form-group .toggle-password {
    position: absolute;
    top: 70%;
    right: 7%;
    font-size: 18px;
    cursor: pointer;
    color: #000000;
    transform: translateY(-50%);
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary); /* Cambia el color de fondo a la variable */
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.form-group .register {
    background-color: var(--color-secondary); /* Cambia el color de fondo a la variable */
}

.form-group button:hover {
    opacity: 80%;
}

.form-links {
    margin-top: 10px;
    padding-left: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}

.form-links a {
    color: var(--color-primary); /* Cambia el color a la variable */
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(214, 214, 214, 1);
    border-top: 1px solid rgba(212, 64, 0, 0.72);
    position: relative; /* Added for footer positioning */
    bottom: 0; /* Keeps footer at the bottom */
    width: 100%; /* Makes footer full width */
}

.footer-title {
    font-size: 2em;
    color: rgb(35, 35, 35);
}

.contact-info {
    font-size: 1em;
    color: rgb(35, 35, 35);
}

.fcooter-nav {
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(35, 35, 35);
    font-size: 1.2em;
}

.nav-list a:hover {
    text-decoration: underline;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px;
    width: 300px;
    background-color: #f9f9f9;
}

.icon {
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 14px;
}

.search-input::placeholder {
    color: #ccc;
}

.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.search-btn i {
    font-size: 16px;
    color: #555;
}
