:root {
    --color-primary: #D44000; /* Color principal */
    --color-secondary: #F2743D;  /* Color secundario */
	--color-admin: #001E2B;
}

/* Aquí puedes usar las variables en lugar de los colores hexadecimales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f0f0f0; /* Color de fondo */
}

/* Cabecera */
.cabecera-section {
    background-color: var(--color-primary); /* Color de fondo usando la variable */
    text-align: center; /* Centra el contenido */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    height: 138px; /* Establece una altura fija para la cabecera */
    
}

.cabecera-rect {
    margin: 0 auto; /* Centra el div horizontalmente */
    height: 100%; /* Asegura que el div de la cabecera ocupe el 100% de la altura de la cabecera */
    display: flex; /* Flexbox para centrar verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    align-items: center; /* Centra verticalmente la imagen */
}

.cabecera-image {
    height: 100%; /* Ajusta la altura de la imagen al 100% de la cabecera */
    width: 136px; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Esquinas redondeadas */
}

.thecontainer {
	display: flex;
	flex-direction: column;
}

.container {
    display: flex;
    width: auto; /* Asegura que el contenedor ocupe el 100% */
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 2;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-section h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 8px;
}

.form-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    padding-left: 15px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 20px;
}

.form-group input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
}

.form-group .toggle-password {
    position: absolute;
    top: 70%;
    right: 7%;
    font-size: 18px;
    cursor: pointer;
    color: #000000;
    transform: translateY(-50%);
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary); /* Cambia el color de fondo a la variable */
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.form-group .register {
    background-color: var(--color-secondary); /* Cambia el color de fondo a la variable */
}

.form-group button:hover {
    opacity: 80%;
}

.form-links {
    margin-top: 10px;
    padding-left: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}

.form-links a {
    color: var(--color-primary); /* Cambia el color a la variable */
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

.contact-info {
    font-size: 1em;
    color: rgb(35, 35, 35);
}

.fcooter-nav {
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(35, 35, 35);
    font-size: 1.2em;
}

.nav-list a:hover {
    text-decoration: underline;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

* {
    box-sizing: border-box;
}

.outer-container {
	background-color: transparent; /* Asegura que no haya ningún fondo gris */
    display: flex;                  /* Usar flexbox para la disposición */
    align-items: center;           /* Centrar verticalmente los elementos */
    width: 100%;                   /* Ancho del contenedor */
    padding: 10px;                 /* Espaciado interno para el contenedor */
}

.checkbox-wrapper {
    flex: 1;                       /* Cada sub-div ocupará el mismo espacio */
    margin-right: 20px;            /* Espacio entre la casilla y el buscador */
}

.search-container {
    flex: 1;                       /* Cada sub-div ocupará el mismo espacio */
    display: flex;                 /* Usar flexbox para el input y el botón */
    align-items: center;           /* Centrar verticalmente los elementos en el contenedor de búsqueda */
    border-radius: 10px;            /* Bordes redondeados */
    padding: 5px;                  /* Espaciado interno */
    border: 1px solid #ccc;
}

.search-input {
    flex-grow: 1;                  /* Permitir que el input ocupe el espacio disponible */
    border: none;                  /* Sin borde para que se vea limpio */
    outline: none;                 /* Sin contorno cuando está enfocado */
    padding: 8px;                  /* Espaciado interno para el input */
    opacity: 0.5;                  /* Opacidad inicial */
    transition: opacity 0.3s;      /* Transición para suavizar el cambio de opacidad */
}

.search-input:disabled {
    cursor: not-allowed;           /* Cambiar cursor cuando está deshabilitado */
}

.search-btn {
    padding: 8px;                  /* Espaciado interno para el botón */
    cursor: pointer;               /* Cambiar el cursor al pasar sobre el botón */
    background-color: transparent; /* Fondo transparente para que se vea el diseño del contenedor */
    border: none;                  /* Sin borde para el botón */
    opacity: 0.5;                  /* Opacidad inicial */
    transition: opacity 0.3s;      /* Transición para suavizar el cambio de opacidad */
}

.search-btn:disabled {
    cursor: not-allowed;           /* Cambiar cursor cuando está deshabilitado */
}

.endpage {
	display: flex;
	width: auto;
	height: 136px;
	background-color: #D6D6D6;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0 20px; /* Agrega un poco de espacio a los lados */
}

.endpage_logo {
	width: 136px;
	height: 136px;
}

.endpage_logo img {
	width: 136px;
    object-fit: cover;
}

.location {
	margin-left: 25px;
	width: 170px;
	height: 136px;
    font-size: 13px;
    color: #333; /* Color de texto */
    display: flex; /* Usamos Flexbox para el centrado */
    justify-content: flex-start; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.contact {
	width: 250px;
	height: 136px;
    font-size: 13px;
    color: #333; /* Color de texto */
    display: flex; /* Usamos Flexbox para el centrado */
    justify-content: flex-start; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Círculo antes de .location y .contact */
.location::before, .contact::before {
    content: ''; /* Crea el pseudo-elemento */
    width: 13px;
    height: 13px;
    background-color: var(--color-primary); /* Color del círculo */
    border-radius: 50%; /* Hace el div circular */
    margin-right: 10px; /* Espacio entre el círculo y el texto */
    border: 1px solid #000;
    margin: 0 20px;
}

.who {
	width: 136px;
	height: 136px;
    font-size: 13px;
    color: #333; /* Color de texto */
    display: flex; /* Usamos Flexbox para el centrado */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 10 20px;
    margin-left: 150px;
    
}

.help {
	width: 180px;
	height: 136px;
    font-size: 13px;
    color: #333; /* Color de texto */
    display: flex; /* Usamos Flexbox para el centrado */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 0 20px;
}

.social-icons {
   margin-left: 50px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.olvidar-container {
    display: flex;
    flex-direction: column;
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: calc(100vh - 276px); /* Ocupa el 100% del alto de la pantalla */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegura que el padding se incluya en las dimensiones */
    padding: 20px; /* Opcional, para un margen interno */
    align-items: center;
    justify-content: center;
}

.olvidar-section {
    flex: 1;
    padding: 20px;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.olvidar-group {
	width: 700px;
    margin-bottom: 15px;
    position: relative;
}

.olvidar-group label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 8px;
}

.olvidar-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    padding-left: 15px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 20px;
}

.olvidar-group input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
}

.olvidar-group button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.olvidar-group button:hover {
    opacity: 80%;
}

.quienes_somos-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

.quienes_somos-section h2 {
    text-align: center;
}

.quienes_somos-text {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 8px;
}

.cabecera2-section {
    background-color: var(--color-primary); /* Color de fondo usando la variable */
    text-align: left; /* Alineación del texto a la izquierda */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 138px; /* Establece una altura fija para la cabecera */
    display: flex; /* Usa flexbox para la alineación */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: flex-start;
}

.cabecera2-rect {
    width: 15800px;
    height: 100%; /* Asegura que el div de la cabecera ocupe el 100% de la altura de la cabecera */
    display: flex; /* Flexbox para centrar verticalmente la imagen */
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centra verticalmente la imagen */
    padding-left: 60px; /* Espaciado opcional a la izquierda */
    margin-right: 419px;
}

.cabecera2-image {
    height: 100%; /* Ajusta la altura de la imagen al 100% de la cabecera */
    width: 136px; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Esquinas redondeadas */
}

.cabecera-search-form {
    display: flex; /* Usar flexbox para alinear el input y el botón */
    align-items: center; /* Centra verticalmente el contenido */
    margin-left: 20px; /* Espacio entre el logo y la barra de búsqueda */
    flex-grow: 1; /* Permite que la barra de búsqueda crezca */
    padding-top: 11px;
}

.search-icon-wrapper {
    display: flex; /* Usar flexbox para alinear el icono */
    align-items: center; /* Centra verticalmente el icono */
    padding: 10px; /* Espacio alrededor del icono */
}

.search-icon {
    width: 20px; /* Ajusta el tamaño del icono */
    height: 20px; /* Ajusta el tamaño del icono */
    margin-right: 20px;
}

.cabecera-search-input {
    padding: 15px; /* Aumentar el espaciado interno para hacerla más cómoda */
    border: 1px solid rgb(232, 232, 232); /* Borde del input */
    border-radius: 20px; /* Bordes redondeados */
    outline: none; /* Sin contorno cuando está enfocado */
    flex-grow: 1; /* Hace que el input ocupe el espacio restante */
    font-size: 16px; /* Aumentar el tamaño de la fuente para mejorar la legibilidad */
    margin-left: 10px; /* Espacio entre el icono y el input */
    width: auto;
}

.user-account {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column; /* Para alinear el icono y el texto en vertical */
    align-items: center; /* Centra horizontalmente el contenido */
    margin-left: 165px; /* Espacio entre el buscador y el icono de usuario */
    justify-content: center;
}

.user-icon {
    width: 60px; /* Ajusta el tamaño del icono de usuario */
    height: 60px; /* Ajusta el tamaño del icono de usuario */
}

.user-text {
    font-size: 12px; /* Ajusta el tamaño de la fuente para el texto */
    color: rgb(255, 255, 255); /* Cambia el color del texto según sea necesario */
    margin-top: 5px; /* Espacio entre el icono y el texto */
}

.container-inicio {
	width: 100vw;
	height: calc(100vh - 276px);
	background-color: #FFFFFF;
}

.recuadro {
	height: 62px;
	border-bottom: 1px solid #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 10px 0;
    margin: 0 700px;
}

.navbar-item {
    display: flex;
    align-items: center;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.navbar-item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-item.active {
    background-color: #d84315;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.navbar-item.active img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-item span {
    margin-left: 5px;
}

.navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 10px 0;
    margin: 0 500px;
}

.navbar-item2 {
    display: flex;
    align-items: center;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.navbar-item2 img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-item2.active {
    background-color: #d84315;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.navbar-item2.active img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-item2 span {
    margin-left: 5px;
}

.info {
	display: flex;
	width: auto;
	height: calc(100vh - 400px);
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-right: 230px;
	margin-left: 230px;
	gap: 70px;
	
}
.info-item {
	width: calc(100vw /3);
	height: auto;
	
}

.jugadores, .equipos, .competiciones {
	display: flex;
    background-color: white;
    border: 1px solid #aaa;
    padding: 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.jugadores img:last-of-type {
	width: 40px; /* Cambia este valor según el tamaño que desees */
	height: auto; /* Mantiene la proporción de la imagen */
}

.jugadores p {
	width: 200px; /* Ajusta este valor según el ancho máximo deseado */
}

.equipos img:last-of-type {
	width: 40px; /* Tamaño más pequeño para el icono de favorito */
	height: auto;
}

.equipos p {
	width: 200px; /* Ajusta este valor según el ancho máximo deseado */
}

.competiciones img:last-of-type {
	width: 40px; /* Tamaño más pequeño para el icono de favorito */
	height: auto;
}

.competiciones p {
	width: 200px; /* Ajusta este valor según el ancho máximo deseado */
}

.info-perfiles {
	display: flex;
	flex-direction: row;
}

.proximos-partidos{
	width: 300px;
	height: auto;
	border-right: 1px solid #000;
}

.datos-equipo, .datos-jugador {
	width: calc(100vw - 650px);
	height: auto;
}

.anuncio {
	width: 350px;
	height: calc(100vh - 338px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.anuncio img {
	width: 310px;
}

.equipo-header {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #000;
    position: relative;
    flex-direction: column;
}

.equipo-info {
	width: auto;
	display: flex;
	flex-direction: column;
	margin-left: 86px;
	margin-top: -4px;
}

.equipo-logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.equipo-logo2 {
    position: absolute;
    bottom: 20px; /* Desplaza el logo hacia abajo para que quede dentro del banner */
    left: -69px; /* Ajusta la posición horizontal */
    z-index: 1; /* Asegura que el logo esté encima de la imagen del banner */
}

.equipo-logo img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #FFFFFF; /* Color de fondo del círculo */
}


.equipo-info h1 {
    font-size: 30px;
    margin-bottom: -21px;
}

.equipo-info p {
    font-size: 18px;
    color: #555;
}

.equipo-follow-btn {
	display: flex;
	align-items: center;
    position: absolute;
    right: 3px;
    padding: 10px 20px;
    background-color: var(--color-admin);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    bottom: 40px;
}

.equipo-follow-btn i {
	margin-right: 8px;
	color: white;
}

.equipo-menu {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.equipo-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

.equipo-team-btn, .equipo-calendar-btn {
    padding: 10px 20px;
    background-color: #FFF;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 10px;
    width: 150px;
}

.equipo-team-btn.active, .equipo-calendar-btn.active {
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 10px;
    width: 150px;
    font-weight: bold;
}

.equipo-team, .equipo-calendar {
    display: none; /* Oculto inicialmente */
}

.equipo-team.active, .equipo-calendar.active {
    display: block; /* Mostrar contenido activo */
}

/* Estilos adicionales para el contenido */
.equipo-team, .equipo-calendar {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


.equipo-background-img {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 0;
}

.equipo-background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurar que la imagen se ajuste al contenedor */
}

.equipo-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 22px;
    gap: 40px;
}

.entrenador-section h2, .jugadores-section h2 {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
}

.entrenador {
    display: flex;
    align-items: center;
}

.entrenador-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.entrenador-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.jugadores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 15px;
    width: auto; /* O ajusta a un valor específico como 80% */
    max-width: 1250px; /* Establece un ancho máximo para centrar */
    margin: 0 auto; /* Centra el contenedor */
}

.jugador-card {
    display: flex;
    width: 190px;
    height: 142px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    justify-content: center;
}

.jugador-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.jugador-card p {
    font-size: 0.9rem;
    text-align: center;
}

.partido-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* Próximos Partidos */
.partido-proximos-partidos {
    background-color: #0000;
    padding: 10px;
    border: 1px solid #ccc;
}

.partido-proximos-partidos h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.partido-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    padding: 10px 0;
}

.partido-fecha {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partido-fecha span {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 0; /* Eliminamos el margen inferior */
    line-height: 1; /* Ajusta la altura de la línea */
}

.partido-fecha b {
    margin: 0; /* Eliminamos márgenes para reducir el espacio */
    font-size: 1.0rem; /* Ajusta el tamaño de la fuente si es necesario */
    line-height: 1; /* Ajusta la altura de la línea */
}

.partido-info {
    flex: 1;
    margin-left: 10px;
}

.partido-info p {
    margin: 0;
    font-size: 0.9rem;
}

.partido-ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.partido-ubicacion img {
    margin-left: 5px;
    width: 30px;
}

/* Clasificación */
.partido-clasificacion {
    background-color: #fff;
    border-top: 1px solid #000;
}

.partido-clasificacion h3 {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.partido-primer-lugar {
    background-color: #ffcc00;
}

.partido-clasificacion tr:nth-child(even) {
    background-color: #f9f9f9;
}

.calendario-calendar {
    background: white;
    border-radius: 8px;
    border: 1px solid #000;
    width: 100%;
}

.circle {
    width: 8px; /* Ajusta el tamaño según lo necesites */
    height: 8px;
    background-color: red; /* Cambia el color si lo prefieres */
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px; /* Espaciado opcional */
}


.calendario-header {
    display: flex;
    height: 50px;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--color-primary);
    color: white;
    border-radius: 8px 8px 0 0;
}

.calendario-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.calendario-partido-dot {
    width: 5px;
    height: 5px;
    background-color: red; /* Puedes cambiar el color */
    border-radius: 50%;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

.calendario-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendario-day {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.calendario-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendario-date {
    text-align: center;
    height: 40px;
}

.calendario-date:hover {
    background: var(--color-admin);
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.calendario-date.empty {
    background: transparent;
    border: none;
}

.circle {
    background-color: #f00; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que sea un círculo */
    width: 10px; /* Ancho del círculo */
    height: 10px; /* Altura del círculo */
    display: inline-block; /* Asegura que se comporte como un bloque */
    position: absolute; /* Necesario para posicionar el círculo */
    left: 50%; /* Centra el círculo horizontalmente */
    transform: translateX(-50%); /* Ajusta el círculo para que esté centrado */
    top: -5px; /* Ajusta la posición vertical del círculo */
}

.profile-header {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 35%;
}

.banner img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.profile-content {
    display: flex;
    padding-left: 20px;
}
.profile-picture  {
	position: relative;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: white;
    bottom: 40px;
}

.profile-picture img {
	position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    bottom: 40px;
}

.profile-details {
	width: calc((100% + 500px) / 2 - 130px / 2);
	height: 100%;
}

.profile-details h1 {
    font-size: 24px;
    margin-bottom: -16px;
}

.profile-details p {
    color: #777;
}
.team {
    text-align: right;
    width: calc(100% / 2 - 130px / 2);
    padding-right: 20px;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.team img {
    width: 82px;
    height: 82px;
}

.team h2 {
    font-size: 20px;
    margin-bottom: 5px;
    width: auto;
    max-width: 200px;
}

.league-info {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.league-info button {
    background-color: #0d1117;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.jugadores-seguidores {
	height: 40px;
	width: 120px;
}

.jugador-follow-btn {
	display: flex;
	align-items: center;
    padding: 10px 20px;
    background-color: var(--color-admin);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 30px;
}

.jugador-follow-btn i {
	margin-right: 8px;
	color: white;
}

.jugador-seguidores-btn {
	display: flex;
	align-items: center;
    background-color: white;
    color: #777;
    cursor: pointer;
    width: 138px;
   	border: none;
}

.jugador-stats-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.jugador-last-game, .jugador-historical {
    width: 45%;
}

.jugador-last-game h3, .jugador-historical h3 {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.jugador-game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.jugador-last-game-info {
	height: 100%;
	width: 100%;
	padding-top: 20px;
	padding-right: 50px;
	padding-left: 50px;
}

.jugador-score, .jugador-minutes {
    text-align: center;
}

.jugador-points {
    font-size: 14px;
    color: #333;
}

.jugador-score-value {
    font-size: 24px;
    font-weight: bold;
}

.jugador-minutes-value {
    font-size: 24px;
    font-weight: bold;
}

.jugador-date-loc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.jugador-date, .jugador-loc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jugador-date p {
    margin: 4px;
    font-size: 14px;
    color: black;
}

.jugador-date p:first-child {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.jugador-loc p {
	margin: 4px;
	    font-size: 14px;
	
}

.jugador-loc img {
	width: 100px;
}

.jugador-fecha {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background-color: var(--color-primary);
	border-radius: 50px;
}

.jugador-location {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.jugador-location p {
    font-size: 14px;
    color: black;
}

.jugador-scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    flex-direction: row;
}

.jugador-scoreboard img {
    width: 50px;
    padding: 10px;
}

.jugador-scoreboard span {
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
}

.team-name {
    font-size: 14px;
    color: #333;
}


.jugador-historical .jugador-stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.jugador-stat {
    padding: 10px;
    text-align: center;
}

.info-favorito {
	display: grid;
	width: auto;
	height: calc(100vh - 400px);
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 25px;	
	align-items: center;
}

.scroll-container-favorito {
    display: flex; /* Usar flex para alinear horizontalmente */
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
    gap: 20px; /* Espacio entre los elementos */
    padding: 10px 0; /* Espaciado opcional */
    scrollbar-width: thin; /* Para Firefox */
    height: calc(100vh - 200px);
}

.scroll-container-favorito::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento */
}

.scroll-container-favorito::-webkit-scrollbar-thumb {
    background: var(--color-primary); /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

.scroll-container-favorito::-webkit-scrollbar-thumb:hover {
    background: var(--color-admin); /* Color al pasar el ratón */
}

.info-item-favorito {
	display: flex;
	width: auto;
	height: auto;
	flex-direction: row;
	gap: 20px;
}

.jugadores-favorito, .equipos-favorito, .competiciones-favorito {
	display: flex;
    background-color: white;
    border: 1px solid #aaa;
    padding-left: 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 397px;
    height: 210px;
}

.jugadores-favorito p {
	width: auto; /* Ajusta este valor según el ancho máximo deseado */
}

.equipos-favorito p {
	width: auto; /* Ajusta este valor según el ancho máximo deseado */
}

.competiciones-favorito p {
	width: auto; /* Ajusta este valor según el ancho máximo deseado */
}

.estrella-favorito {
	height: 100%;
	display: flex;
	
}

.icono-favorito {
	margin-top: 20px;
	width: 20px;
	height: 20px;
	display: flex;
	margin-right: 10px;
}

.datos-favorito {
	display: flex;
	height: 100%;
	width: auto;
	
}

.stats-favorito {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
}

.section-favorito {
    text-align: center;
    flex: 1;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
}

.last-game-favorito {
    color: black;
}

.history-favorito {
    color: black;
}

.section-favorito label {
	display: flex;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    background-color: var(--color-primary);
    width: auto;
    height: 20px;
    align-items: center;
    justify-content: center;
    
}

.section-favorito button {
	display: flex;
    background-color: var(--color-admin);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    height: 20px;
    align-items: center;
    justify-content: center;
    
}

.stat-favorito {
    font-size: 14px;
    margin: 5px 0;
}

.stat-favorito span {
    font-weight: bold;
}
.player-info-favorito {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex: 1;
    flex-direction: column;
    width: 150px;
}

.avatar-favorito img {
    width: 100px;
    height: 100px;
}

.details-favorito {
    margin-left: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.details-favorito p {
    font-size: 14px;
    text-align: center;
}

.info-jugador-favorito {
	height: 100%;
	display: flex;
	gap: 20px;
	margin-top: 20px;
	flex-direction: column;
}

.container-favorito {
	width: 100vw;
	height: calc(100vh - 180px);
	background-color: #FFFFFF;
}

.section2-favorito {
    text-align: center;
    flex: 1;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}

.section2-favorito label {
	display: flex;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    background-color: var(--color-primary);
    width: auto;
    height: 20px;
    align-items: center;
    justify-content: center;
    
}

.section2-favorito button {
	display: flex;
    background-color: var(--color-admin);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    height: 20px;
    align-items: center;
    justify-content: center;
    
}

.equipo-datos-favorito {
    color: black;
}

.stat-favorito p {
	display: flex;
}

.favorito-tabla {
    width: 100%;
    border-collapse: collapse;
}

.favorito-tabla thead {
    border: none;
}

.favorito-tabla td:first-child {
    text-align: left;
    padding-left: 20px;
}

.favorito-tabla td {
    padding: 6px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc; /* Cambia #4CAF50 al color que prefieras */ 
    height: 10px;  
}


.favorito-primero {
    background-color: #ffeb3b; /* Amarillo */
}

.favorito-segundo {
    background-color: #bdbdbd; /* Gris */
}

.favorito-tercero {
    background-color: #ff9800; /* Naranja */
}

.favorito-cuarto {
    background-color: #ffffff; /* Blanco */
}

.favorito-icono {
    width: 15px; /* Ajusta el tamaño según sea necesario */
    height: 15px;
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: middle;
}

.info-competicion-favorito {
	height: 100%;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.section3-favorito {
    text-align: center;
    flex: 1;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}

.section3-favorito label {
	display: flex;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: var(--color-primary);
    width: auto;
    height: 20px;
    align-items: center;
    justify-content: center;
    
}

.section3-favorito button {
	display: flex;
    background-color: var(--color-admin);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    height: 20px;
    align-items: center;
    justify-content: center;
    
}

.container-perfil-equipo {
	width: 100vw;
	height: auto;
	background-color: #FFFFFF;
}

.competicion-header {
    display: flex;
    background-color: #fff;
    position: relative;
    flex-direction: column;
}

.competicion-info {
	width: auto;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
}

.competicion-follow-btn {
	display: flex;
	align-items: center;
    position: absolute;
    right: 3px;
    padding: 10px 20px;
    background-color: var(--color-admin);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    bottom: 20px;
}

.competicion-follow-btn i {
	margin-right: 8px;
	color: white;
}

.equipo-jornada-btn, .equipo-clasificacion-btn , .equipo-ranking-btn , .equipo-equipos-btn {
    padding: 10px 20px;
    background-color: #FFF;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 10px;
    width: 150px;
}

.equipo-jornada-btn.active, .equipo-clasificacion-btn.active , .equipo-ranking-btn.active , .equipo-equipos-btn.active {    
	padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 10px;
    width: 150px;
    font-weight: bold;
}

.equipo-jornada, .equipo-clasificacion, .equipo-ranking, .equipo-equipos {
    display: none; /* Oculto inicialmente */
}

.equipo-jornada.active, .equipo-clasificacion.active, .equipo-ranking.active, .equipo-equipos.active {
    display: block; /* Mostrar contenido activo */
}

.equipo-clasificacion, .equipo-ranking {
	padding: 30px;
}

.competicion-clasificacion {
    background-color: #fff;
}

.competicion-tabla {
    width: 100%;
    border-collapse: collapse;
}

.competicion-tabla thead {
    border: none;
}

.competicion-tabla tbody {
    border: 1px solid black; /* Cambia #4CAF50 al color que prefieras */ 
}
.competicion-tabla td:first-child {
    text-align: left;
    padding-left: 20px;
}

.competicion-tabla td {
    padding: 6px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height: 20px;  
}

.section-title {
    background-color: #d14f10;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    margin: 20px;
}

.competicion-ranking-tabla {
    width: 100%;
    border-collapse: collapse;
    display: table;
    padding: 20px;
}

.competicion-ranking-tabla table {
	width: 100%;
	border-collapse: collapse;
}

.competicion-ranking-tabla thead {
    border: none;
}

.competicion-ranking-tabla tbody {
    border: 1px solid black; /* Cambia #4CAF50 al color que prefieras */ 
}
.competicion-ranking-tabla td:first-child {
    text-align: left;
    padding-left: 20px;
}

.competicion-ranking-tabla td {
    padding: 6px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height: 20px;  
}
.competicion-equipos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 100%;
  padding: 30px;
}

.competicion-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  background-color: #fff;
  width: auto;
}

.name {
  flex-grow: 1;
  font-size: 18px;
}

.arrow {
  font-size: 30px;
  color: black;
  border: none;
  background-color: white;
}

.competicion-jornada-btn {
    padding: 10px 20px;
    background-color: #FFF;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 10px;
    width: 150px;
}

.competicion-jornada-btn.active {    
	padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 10px;
    width: 150px;
    font-weight: bold;
}

.equipo-jornada {
    padding-left: 20px; /* Oculto inicialmente */
}

.jornadas-btns {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}
.jornada-content {
    display: none;
}

.jornada-content.active {
    display: block;
}

.jornada-match-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.jornada-date-time {
    color: black;
    text-align: center;
    padding: 10px;
    width: auto;
    height: atuo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jornada-date {
	color: white;
	width: 80px;
	background-color: var(--color-primary);
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    border-radius: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jornada-date span {
    font-size: 20px;
}

.jornada-time {
    font-size: 18px;
    margin-top: 5px;
}

.jornada-match-info {
	justify-content: space-between;
	height: 126px;
	border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px;
    align-items: center;
}

.jornada-score {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 400px;
}

.jornada-score img {
	width: 80px;
	height: 80px;
}


.jornada-team-score {
	display: flex;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid black;
    color: white;
    width: 80px;
	height: 80px;
	align-items: center;
	justify-content: center;
}

.jornada-home {
    background-color: var(--color-primary);
    margin-left: 5px;
    margin-right: 10px;
}

.jornada-away {
    background-color: var(--color-admin);
    margin-right: 5px;
}

.jornada-team-names {
	width: 100%;
    font-size: 30px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.jornada-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.jornada-location img {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-top: 5px;
}

.datos-partidoselec {
	display: none;
}

.datos-partidoselec.active {
	display: flex;
	flex-direction: row;
	width: 100vw;
	padding: 20px;
	min-height: calc(100vh - 200px);
}

.partidoselec-datos {
	width: calc(100vw / 3 * 2);
	height: 100%;
	display: flex;
	flex-direction: column;
}

.partidoselec-datos-prox {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.partidoselec-comentarios {
	width: calc(100vw / 3);
	height: 100%;
}

/* Contenedor principal */
.partidoselec-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado del partido */
.partidoselec-header {
	width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.partidoselec-header-score {
    display: flex;
    flex-direction: row;
}

.partidoselec-date {
	display: flex;
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100px;
    height: 100px;
}

.partidoselec-date-info {
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-left: 20px;
}

.partidoselec-time-competicion {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 30px;
}

.partidoselec-teams {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.partidoselec-score-home, .partidoselec-score-away  {
	display: flex;
	width: 100px;
	height: 100px;
	align-items: center;
	justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
    color: white;
}

.partidoselec-score-home {
	background-color: var(--color-primary);
}

.partidoselec-score-away {
	background-color: var(--color-admin);
}

.partidoselec-vs {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.partidoselec-time {
    margin-left: 20px;
}

.partidoselec-status {
    background-color: var(--color-admin);
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    width: calc(100% / 10 * 7);
}

.partidoselec-status-prox {
    background-color: #aaa;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    width: calc(100% / 10 * 7);
}

.partidoselec-quarters {
	width: 100%;
}

.partidoselec-quarters table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.partidoselec-quarters th,
.partidoselec-quarters td {
    border: none;
    padding: 8px;
    text-align: center;
}

.partidoselec-quarters th {
    color: black;
}

.partidoselec-quarters td:first-child {
    font-weight: bold;
}

/* Mayores anotadores */
.partidoselec-top-scorers {
    padding: 15px;
    margin-bottom: 20px;
}

.partidoselec-top-scorers h3 {
    margin-bottom: 10px;
}

.partidoselec-top-scorers ol {
    padding-left: 20px;
}

.partidoselec-top-scorers li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.partidoselec-player-name {
    font-weight: bold;
}

.partidoselec-points {
    font-weight: bold;
    color: #FF6B35;
}

/* Sección de comentarios */
.partidoselec-comments {
    padding: 15px;
    border-radius: 10px;
}

.partidoselec-comments h3 {
    margin-bottom: 10px;
}

.partidoselec-comment {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.partidoselec-comment-user {
    font-weight: bold;
    color: #333;
}

.partidoselec-comment p {
    margin: 5px 0;
}

.comentarios-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-right: 5px;
}

.partidoselec-comment img {
    width: 20px;
}

.partidoselec-comment-box {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.partidoselec-comment-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    box-sizing: border-box;
}

.partidoselec-comment-box button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-primary); /* Color de fondo */
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.partidoselec-comment-box button[type="submit"]:hover {
    background-color: var(--color-admin); /* Color al pasar el mouse */
}

.container-partido {
	width: 100vw;
	height: auto;
	background-color: #FFFFFF;
}

.container-mensajes {
	width: 100vw;
	height: calc(100vh - 138px);
	background-color: #FFFFFF;
}

.mensajes-info {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: calc(100vh - 200px);
}

.chat-scroll-container {
    overflow-y: auto; /* Permite el scroll solo dentro de este contenedor */
}

.chatcompleto-scroll-container {
	height: calc(100vh - 350px);
    overflow-y: auto; /* Permite el scroll solo dentro de este contenedor */
}

.chats {
	overflow-y: auto; /* Activa el scroll solo en este área */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: calc(100% / 4);
	height: 100%;
	border-right: 0.5px solid black;
	
}
.chatsabiertos {
	width: calc(100% / 4 * 3);
	height: 100%;
}
 .michat {
 	width: 100%;
 	height: 120px;
 	border-bottom: 1px solid black;
 	background: #ddd;
 }
 
 .chat {
  	display: flex;
 	align-items: center;
 	width: 100%;
 	height: 100px;
 	border-bottom: 1px solid black;
 	background: white;
 }
 
 .michatcanal {
 	width: 100%;
 	padding: 10px;
 	margin: 0;
 	border-bottom: 1px solid black;
 	padding-left: 20px;
 }
 
 .chat-organizado {
 	align-items: center;
 	display: flex;
 	flex-direction: row;
 	width: 100%;
 	height: auto;
 	padding-left: 20px;
 	padding-top: 10px;
 }
 
 .chat-organizado img {
 	width: 50px;
 	height: 50px;
 	margin-right: 10px;
 }
 
 .chat-organizado-texto {
 	display: flex;
 	flex-direction: column;
 	padding-top: 5px;
}
 
.chat-organizado-texto p {
 	margin: 0px;
}
 
 .community {
 	font-size: 22px;
 	font-weight: bold;
 }
 
 .propietario {
 	font-size: 15px;
 }
 
 .chatabierto-organizado {
 	align-items: center;
 	display: flex;
 	flex-direction: row;
 	width: 100%;
 	height: auto;
 	padding-left: 20px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	border-bottom: 1px solid black;
 	height: 90px;
 	
 }
 
 .chatabierto-organizado img {
 	width: 50px;
 	height: 50px;
 	margin-right: 10px;
 }
 
 .mensajes {
 	display: flex;
 	justify-content: flex-end;
 	flex-direction: column;
 	width: 100%;
}

.mensajes-box {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
	border-top: 1px solid black;
}

.mensajes-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    box-sizing: border-box;
}

.mensajes-box button[type="submit"] {
    padding: 10px;
    border: none;
    background-color: var(--color-primary); /* Color de fondo */
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.mensajes-box button[type="submit"]:hover {
    background-color: var(--color-admin); /* Color al pasar el mouse */
}

.message-bubble {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 10px 15px;
    max-width: 60%;
    border-radius: 15px;
    position: relative;
    margin: 10px 0;
    align-self: flex-end; /* Align to the right */
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 400px;
	max-width: 600px;
	min-height: 20px;
	text-align: right;
	margin-bottom: 20px;
}

.message-bubble:after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: var(--color-secondary);
    transform: rotate(45deg);
}

/* Style the timestamp */
.timestamp {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
    text-align: right;
}

/* Style the checkmarks */
.checkmarks {
    font-size: 12px;
    margin-left: 5px;
    color: #d3f3f3; /* Light blue checkmark color */
}

.chatcompleto {
	overflow-y: auto;
 	height: calc(100vh - 350px);
 	display: flex;
 	justify-content: flex-end;
 	align-items: flex-end;
 	flex-direction: column;
 	padding-right: 20px;
}

.mensaje-borrar-mensaje {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.mensaje-borrar-mensaje img {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.hidden {
    display: none;
}

