<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_campify_sin_fondo_sin_letra"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_campify_sin_fondo_sin_letra"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.M35_Camping"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Menu"
            android:exported="false" />
        <activity
            android:name=".ui.Activity_Parcela"
            android:exported="false" />
        <activity
            android:name=".ui.ParcelaCreate"
            android:exported="false" />
        <activity
            android:name=".ui.ParcelaShow"
            android:exported="false" />
        <activity
            android:name=".ui.ParcelaEdit"
            android:exported="false" />
        <activity
            android:name=".ui.Activity_Reserva"
            android:exported="false" />
        <activity
            android:name=".ui.ReservaCreate"
            android:exported="false" />
        <activity
            android:name=".ui.ReservaShow"
            android:exported="false" />
        <activity
            android:name=".ui.ReservaEdit"
            android:exported="false" />
        <activity
            android:name=".ui.OcupantesCreate"
            android:exported="false" />
        <activity
            android:name=".ui.OcupantesEdit"
            android:exported="false" />
        <activity
            android:name=".ui.Activity_Pruebas"
            android:exported="false" />

    </application>
    <queries>
        <package android:name="com.whatsapp" />
    </queries>
</manifest>